# Copie para android/keystore.properties e preencha com seus dados reais
# storeFile=/caminho/para/seu/keystore.jks
# storePassword=senha-do-keystore
# keyAlias=alias-da-chave
# keyPassword=senha-da-chave
